<add name="KeynerContext" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=Z:\StudentsFiles\RPZ\RPZ3\Яічко\C#\WPF_proj\Keyner_Train\KeynerDB.mdf;Integrated Security=True;Connect Timeout=30" providerName="System.Data.SqlClient"/>